[package]
name = "dotrix"
version = "0.5.1"
authors = [
  "Elias Kartashov <elias@lowenware.com>",
  "Štěpán Wünsch <sw@lowenware.com>",
  "Nikita Zemtsov <z-nik@ya.ru>",
]
edition = "2018"
description = "3D Game Engine"
license = "MIT"

[lib]
name = "dotrix"
path = "src/lib.rs"

[features]
default = [ "egui", "overlay", "pbr", "sky", "terrain" ]

overlay = ["dotrix_overlay"]
sky = ["dotrix_sky"]
pbr = ["dotrix_pbr"]
egui = ["dotrix_egui"]
terrain = ["dotrix_terrain"]

[workspace]
members = [
  "dotrix_core",
  "dotrix_egui",
  "dotrix_overlay",
  "dotrix_pbr",
  "dotrix_sky",
  "dotrix_terrain",
]

[dependencies.dotrix_core]
version = "0.5"
path = "./dotrix_core"

[dependencies.dotrix_math]
version = "0.4"
path = "./dotrix_math"

# Optional dependencies

[dependencies.dotrix_overlay]
version = "0.1"
path = "./dotrix_overlay"
optional = true

[dependencies.dotrix_egui]
version = "0.5"
path = "./dotrix_egui"
optional = true

[dependencies.dotrix_pbr]
version = "0.2"
path = "./dotrix_pbr"
optional = true

[dependencies.dotrix_sky]
version = "0.1"
path = "./dotrix_sky"
optional = true

[dependencies.dotrix_terrain]
version = "0.5"
path = "./dotrix_terrain"
optional = true

[dev-dependencies.rand]
version = "0.8"

[dev-dependencies.noise]
version = "0.7"

[[example]]
name = "demo"
path = "examples/demo/main.rs"

[[example]]
name = "animation"
path = "examples/animation/main.rs"

[[example]]
name = "light"
path = "examples/light/main.rs"

[[example]]
name = "skybox"
path = "examples/skybox/main.rs"

[[example]]
name = "window"
path = "examples/window/main.rs"
