name: CI

on:
  push:
    branches: [ main, style_checks ]
  pull_request:
    branches: [ main, style_checks ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        toolchain: [stable, nightly]
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.toolchain }}
        override: true

    - uses: actions-rs/cargo@v1
      with:
        command: build
        args: --release --verbose --workspace --all-features --all-targets

    - uses: actions-rs/cargo@v1
      with:
        command: test
        args: --release --verbose --workspace --all-features --all-targets

    - name: Build docs
      run: cargo doc
