name: Style

on:
  push:
    branches: [ main, style_checks ]
  pull_request:
    branches: [ main, style_checks ]

jobs:
  check_clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly
          components: clippy
          override: true

    - name: check_permissions
      uses: scherermichael-oss/action-has-permission@master
      with:
        required-permission: write
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Run clippy action to produce annotations
      uses: actions-rs/clippy-check@v1
      if: steps.check_permissions.outputs.has-permission
      with:
        toolchain: nightly
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --workspace --all-targets --all-features

    - name: Run clippy manually without annotations
      if: ${{ !steps.check_permissions.outputs.has-permission }}
      run: cargo +nightly clippy --workspace --all-features

  check_fmt:
    name: Rust-fmt
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly
          components: rustfmt
          override: true

    - name: rustfmt
      run: |
        cargo +nightly fmt --all -- --check
